.CreateAccount {
  position: absolute;
  bottom: 0;
  left: 5vw;
  width: 95vw;
  height: 93vh;
  display: flex;
  justify-content: center;
  z-index: 10000;

  .create-account-background {
    margin-top: 2vh;
    transform: translateY(100%);
    animation: create-account-animation 1s forwards ease;

    @keyframes create-account-animation {
      to {
        transform: translateY(0);
      }
    }

    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 0.5vmin black;
    border-radius: 2vmin;

    .create-account-form {
      height: 92vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      background: #FAE9A4;
      padding: 2vmin;
      font-size: 3vmin;
      border: 0.3vmin #e4ca63 solid;
      width: 65vmin;
      border-radius: 2vmin 2vmin 0 0;
      box-shadow: 0 0 1vmin black;

      .create-account-details {
        
        .account-details {
          border-radius: 2vmin 2vmin 0 0;
          border: none;
  
          input {
            text-align: center;
            font-size: 2vmin;
            padding: 1vh 0;
            margin: 0.5vmin;
            border: none;
            box-shadow: 0 0 0.5vmin black;
            width: 40vmin;
          }
        }

        .toggle-icons-button {
          font-size: 5vmin;
          position: absolute;
          right: 4vmin;
          top: 4vmin;
          cursor: pointer;
          z-index: 10000;
        }
  
        .password-details {
          border-radius: 0 0 2vmin 2vmin;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1vh;
          border: none;
  
          input {
            font-size: 2vmin;
            padding: 1vh 0;
            border: none;
            box-shadow: 0 0 0.5vmin black;
            text-indent: 1vmin;
            width: 40vmin;
          }

          #password-length {
            text-indent: 0;
          }
  
          .password-length-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 40vmin;
  
            label {
              font-size: 2vmin;
              cursor: pointer;
              color: #747474;
            }
  
            input {
              text-align: center;
              width: 13.5vmin;
            }
          }
  
          .password-edges {
            display: flex;
            width: 40vmin;
            justify-content: space-between;
  
            input {
              width: 19.5vmin;
              text-indent: 1vmin;
            }
          }
  
          .private-key {
            display: flex;
            align-items: center;
  
            input {
              width: 37vmin;
              text-indent: 1vmin;
            }
          }
  
          .generate-button {
            margin-top: 0.5vh;
            padding: 0.5vmin 2vmin;
            border: none;
            cursor: pointer;
            box-shadow: 0 0 0.2vmin black;
            color: white;
            background: #b94444;
          }
  
          .generate-button:hover {
            box-shadow: 0 0 0.5vmin black;
          }
  
          .generate-button:active {
            opacity: 0.5;
          }
        }
      }

      .output {
        font-size: 3vmin;
        width: 50vmin;
        text-align: center;
        border: none;
        box-shadow: 0 0 0.5vmin black;
        resize: none;
      }

      .output::placeholder {
        font-size: 3vmin;
      }

      .submit-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32vmin;
        position: relative;

        .submit-button {
          font-size: 4vmin;
          padding: 0.5vmin 2vmin;
          border: none;
          cursor: pointer;
          box-shadow: 0 0 0.2vmin black;
          color: white;
          background: #b94444;
        }

        .submit-button:hover {
          box-shadow: 0 0 0.5vmin black;
        }

        .submit-button:active {
          opacity: 0.5;
        }

        .lock-icon {
          position: absolute;
          right: 0;
          font-size: 6vmin;
        }
      }
    }

    .create-account-form::after {
      content: "";
      position: absolute;
      border: 1.5vmin dotted #b94444;
      border-top: none;
      border-bottom: none;
      height: 100%;
      width: 92%;
      pointer-events: none;
      z-index: 10000;
    }
  }
}
