.account {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vmin;
  background: rgba(255, 217, 45, 0.4);
  border-radius: 2vmin;
  border: 0.3vmin solid rgb(219, 201, 99);
  box-shadow: 0 0 0.5vmin black;

  .account-names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 10vh;

    .account-name {
      font-size: 4vmin;
    }

    .account-subname {
      font-size: 2vmin;
    }
  }

  &-more {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1vmin;
    height: 25vmin;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2vmin;
    box-shadow: 0 0 0.5vmin black;
    opacity: 0;
    animation: open-account-animation 1.5s forwards ease;

    @keyframes open-account-animation {
      to {
        opacity: 1;
      }
    }

    &-bar {
      display: flex;
      justify-content: space-between;
      align-self: flex-end;

      .delete-account-button,
      .edit-account-button {
        font-size: 1.7vmin;
        border: none;
        padding: 0.5vmin;
        border-radius: 1vmin;
        cursor: pointer;
        margin: 0 0.5vmin;
        background: none;
        font-size: 4vmin;
      }

      .delete-account-button:hover,
      .edit-account-button:hover {
        box-shadow: 0 0 0.5vmin black;
      }

      .delete-account-button:active,
      .edit-account-button:active {
        opacity: 0.5;
      }
    }

    .private-key {
      display: flex;
      align-items: center;

      &-icon {
        font-size: 4vmin;
        cursor: pointer;
      }

      &-input {
        font-size: 2vmin;
        padding: 1vh 0;
        border-radius: 1vmin;
        margin: 0.5vmin;
        border: none;
        text-align: center;
        width: 35vmin;
        box-shadow: 0 0 0.5vmin black;
      }
    }

    .get-password-button {
      font-size: 8vmin;
      padding: 0.5vmin;
      border: none;
      border-radius: 1vmin;
      cursor: pointer;
    }

    .output {
      display: flex;
      align-items: center;

      &-input {
        font-size: 2vmin;
        padding: 1vh 0;
        border-radius: 1vmin;
        margin: 0.5vmin;
        border: none;
        box-shadow: 0 0 0.5vmin black;
        text-align: center;
        width: 35vmin;
      }

      .copy-button {
        font-size: 4vmin;
        border: none;
        border-radius: 1vmin;
        cursor: pointer;
      }

      .copy-button:active {
        opacity: 0.5;
      }
    }
  }
}
