@media (max-width: 768px) {
  .account {
    
    .account-names {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      height: 10vh;

      .account-name {
        font-size: 7vmin;
      }

      .account-subname {
        font-size: 3vmin;
      }
    }

    &-more {
      margin-top: 2vmin;
      padding: 3vmin;
      height: 50vmin;
  
      &-bar {
  
        .delete-account-button,
        .edit-account-button {
          border: none;
          font-size: 7vmin;
        }
      }
  
      .private-key {
        display: flex;
        align-items: center;
  
        &-icon {
          font-size: 8vmin;
        }
  
        &-input {
          font-size: 6vmin;
          width: 60vmin;
        }
      }
  
      .get-password-button {
        font-size: 10vmin;
      }
  
      .output {
        display: flex;
        align-items: center;
  
        &-input {
          font-size: 6vmin;
          width: 60vmin;
        }
  
        .copy-button {
          font-size: 8vmin;
        }
      }
    }
  }
}
