.Account-icons {
  position: absolute;
  overflow-y: auto;
  left: 0;
  top: 0;
  background: #FAE9A4;
  height: 92vmin;
  width: 65vmin;
  z-index: 1000;
  padding: 1vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2vmin 2vmin 0 0;

  .account-icons-title {
    padding: 2vmin;
    text-decoration: underline;
  }

  .account-icons-name {
    cursor: pointer;
  }
  
  .account-icons-box {
    margin-bottom: 2vmin;
    display: flex;
    flex-direction: column;
    display: flex;
    width: 50vmin;
    
    .account-gallery {
      padding: 2vmin 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      gap: 1vmin;

      .account-icon {
        cursor: pointer;
      }
    }

  }
}