.Signup {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 45vw;
  background: rgb(246, 242, 242);

  .signup-view {
    display: flex;
    flex-direction: column;
    align-items: center;

    .signup-title {
      font-size: 4rem;
    }

    .signup-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      .signup-comment {
        font-size: 1.5rem;
        height: 2rem;
      }

      &-inputs {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }

      .submit-button {
        margin-top: 20px;
      }
    }

    .to-login {
      margin-top: 30px;

      &-text {
        padding-right: 5px;
      }
    }
  }
}
