.Toggle-buttons-multiple {
  display: flex;
  justify-content: center;
  box-shadow: 0 0 0.2vmin black;

  input {
    display: none;
  }

  button {
    cursor: pointer;
    font-size: 1.6vmin;
    border: none;
    padding: 1vmin;
  }
}

.checked {
  background: #b94444;
  color: white;
}

.unchecked {
  background: rgba(128, 128, 128, 0.3);
  color: rgba(0, 0, 0, 0.5);
}
